version: '3'
services:
  gitea:
    image: gitea/gitea
    container_name: gitea
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.https-compress.compress=true

      - traefik.http.middlewares.header_gitea.headers.sslRedirect=true
      - traefik.http.middlewares.header_gitea.headers.sslHost={{ gitea_hostname }}
      - traefik.http.middlewares.header_gitea.headers.stsSeconds=3600
      - traefik.http.middlewares.header_gitea.headers.stsPreload=true
      - traefik.http.middlewares.header_gitea.headers.forceSTSHeader=true
      - traefik.http.middlewares.header_gitea.headers.frameDeny=true
      - traefik.http.middlewares.header_gitea.headers.contentTypeNosniff=true

      - traefik.http.routers.gitea.rule=Host(`{{ gitea_hostname }}`)
      - traefik.http.routers.gitea.tls=true
      - traefik.http.routers.gitea.tls.certresolver=le
      - traefik.http.routers.gitea.entrypoints=secure
      - traefik.http.routers.gitea.middlewares=header_gitea@docker,https-compress@docker
      - traefik.http.services.gitea.loadbalancer.server.port=3000

      - traefik.http.routers.gitea_http.rule=Host(`{{ gitea_hostname }}`)
      - traefik.http.routers.gitea_http.service=gitea
      - traefik.http.routers.gitea_http.entrypoints=web
      - traefik.http.routers.gitea_http.middlewares=header_gitea@docker,https-compress@docker
    environment:
      - USER_UID={{ gitea_git_uid }}
      - USER_GID={{ gitea_git_gid }}
      - GITEA__SERVER__PROTOCOL=http
      - GITEA__SERVER__DOMAIN={{ gitea_hostname }}
      - GITEA__SERVER__SSH_DOMAIN={{ gitea_hostname }}
      - GITEA__SERVER__ROOT_URL="https://{{ gitea_hostname }}"
      - GITEA__SERVER__ENABLE_LETSENCRYPT={{ gitea_le_enable }}
      - GITEA__SERVER__LETSENCRYPT_ACCEPTTOS={{ gitea_le_accepttos }}
      - GITEA__SERVER__LETSENCRYPT_DIRECTORY={{ gitea_le_directory }}
      - GITEA__SERVER__LETSENCRYPT_EMAIL={{ gitea_le_email }}
      - GITEA__APP_NAME={{ gitea_app_name }}
      - GITEA__MAILER__ENABLED={{ gitea_mailer_enable }}
      - GITEA__MAILER__HOST={{ gitea_mailer_host }}
      - GITEA__MAILER__FROM={{ gitea_mailer_from }}
      - GITEA__SERVICE__DISABLE_REGISTRATION=false
      - GITEA__SERVICE__REQUIRE_SIGNIN_VIEW=true
      - GITEA__SERVICE__REGISTER_EMAIL_CONFIRM=true
      - GITEA__SERVICE__ENABLE_NOTIFY_MAIL=true
      - GITEA__SERVICE__ENABLE_CAPTCHA=true
      - GITEA__SERVICE__DEFAULT_KEEP_EMAIL_PRIVATE=true
      - GITEA__SERVICE__DEFAULT_ALL_CREATE_ORGANIZATION=false
      - GITEA__SERVICE__NO_REPLY_ADDRESS={{ gitea_service_noreply }}

    networks:
      - web
    ports:
      - "127.0.0.1:2222:22"
    volumes:
      - gitea:/data
      - /home/git/.ssh/:/data/git/.ssh
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

volumes:
  gitea:
    driver: local

networks:
  web:
    external: true

