version: '3'
services:
  wallabag:
    image: wallabag/wallabag
    environment:
      - SYMFONY__ENV__DATABASE_DRIVER=pdo_sqlite
      - SYMFONY__ENV__DOMAIN_NAME=https://{{ wallabag_hostname }}
    ports:
      - "80"
    volumes:
      - {{ wallabag_directory }}/data:/var/www/wallabag/data
      - {{ wallabag_directory }}/images:/var/www/wallabag/web/assets/images
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.https-redirect.redirectscheme.scheme=https
      - traefik.http.middlewares.https-redirect.redirectscheme.permanent=true
      - traefik.http.routers.wallabag.rule=Host(`{{ wallabag_hostname }}`)
      - traefik.http.routers.wallabag.service=wallabag
      - traefik.http.routers.wallabag.tls=true
      - traefik.http.routers.wallabag.entrypoints=secure
      - traefik.http.services.wallabag.loadbalancer.server.port=80
      - traefik.http.routers.wallabag_http.rule=Host(`{{ wallabag_hostname }}`)
      - traefik.http.routers.wallabag_http.service=wallabag
      - traefik.http.routers.wallabag_http.entrypoints=web
      - traefik.http.routers.wallabag_http.middlewares=https-redirect@docker
    restart: unless-stopped
    networks:
      web:

networks:
  web:
    external: true

