version: '3'
services:
  acme.sh:
    image: neilpang/acme.sh
    container_name: {{ acme_sh_docker_name }}
    command: daemon
    volumes:
      - ./acmeout:/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DEPLOY_DOCKER_CONTAINER_LABEL=sh.acme.autoload.domain={{ acme_sh_domain }}
      - DEPLOY_DOCKER_CONTAINER_KEY_FILE=/certs/key.pem
      - DEPLOY_DOCKER_CONTAINER_CERT_FILE="/certs/cert_single.pem"
      - DEPLOY_DOCKER_CONTAINER_CA_FILE="/certs/ca.pem"
      - DEPLOY_DOCKER_CONTAINER_FULLCHAIN_FILE="/certs/cert.pem"
      #- DEPLOY_DOCKER_CONTAINER_RELOAD_CMD="service nginx force-reload"
    restart: unless-stopped
    networks:
      web:

networks:
  web:
    external: true

