version: '3'
services:
  fishnet:
    image: niklasf/fishnet:2
    container_name: fishnet
    environment:
      - KEY={{ fishnet_key }}
    restart: unless-stopped
    cpus: {{ (ansible_processor_cores/1.3)|round(2) }}
