version: '3'
services:
  nginx-static:
    image: nginx
    ports:
      - "80"
    volumes:
      - {{ nginx_directory }}/web:/usr/share/nginx/html:ro
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.https-compress.compress=true
      - traefik.http.middlewares.header_nginx.headers.sslRedirect=true
      - traefik.http.middlewares.header_nginx.headers.sslHost={{ nginx_hostname }}
      - traefik.http.middlewares.header_nginx.headers.stsSeconds=3600
      - traefik.http.middlewares.header_nginx.headers.stsPreload=true
      - traefik.http.middlewares.header_nginx.headers.forceSTSHeader=true
      - traefik.http.middlewares.header_nginx.headers.frameDeny=true
      - traefik.http.middlewares.header_nginx.headers.contentTypeNosniff=true

      - traefik.http.routers.nginx.rule=Host(`{{ nginx_hostname }}`)
      - traefik.http.routers.nginx.tls=true
      - traefik.http.routers.nginx.entrypoints=secure
      - traefik.http.routers.nginx.middlewares=header_nginx@docker,https-compress@docker
      - traefik.http.services.nginx.loadbalancer.server.port=80

      - traefik.http.routers.nginx_http.rule=Host(`{{ nginx_hostname }}`)
      - traefik.http.routers.nginx_http.service=nginx
      - traefik.http.routers.nginx_http.entrypoints=web
      - traefik.http.routers.nginx_http.middlewares=header_nginx@docker

      # Middlewares for www.{{ nginx_hostname }} -> {{ nginx_hostname }}
      #- traefik.http.middlewares.https-redirect.redirectscheme.permanent=true
      #- traefik.http.middlewares.https-redirect.redirectscheme.replacement="https://{{ nginx_hostname }}"
      #- traefik.http.middlewares.https-redirect.redirectscheme.regex="^https?://www.{{ nginx_hostname }}"
      #- traefik.http.routers.nginx_www.rule=Host(`www.{{ nginx_hostname }}`)
      #- traefik.http.routers.nginx_www.tls=true
      #- traefik.http.routers.nginx_www.entrypoints=secure
      #- traefik.http.routers.nginx_www.middlewares=https-redirect@docker
      #
      #- traefik.http.routers.nginx_http_www.rule=Host(`www.{{ nginx_hostname }}`)
      #- traefik.http.routers.nginx_http_www.entrypoints=web
      #- traefik.http.routers.nginx_http_www.middlewares=https-redirect@docker
    restart: unless-stopped
    networks:
      web:

networks:
  web:
    external: true

