version: '3'

services:

  reverse-proxy:
    image: traefik:{{ traefik_version }}
    networks:
      {{ traefik_network}}:
    command:
      #- --api.debug=true
      #- --api.insecure=true
      - --entrypoints.{{ traefik_network }}.address=:{{ traefik_http_port }}
      - --entrypoints.{{ traefik_network_secure }}.address=:{{ traefik_https_port}}
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.docker.network={{ traefik_network }}
      - --providers.file.directory=/etc/traefik/dynamic_conf
      - --certificatesResolvers.le.acme.storage=acme.json
      - --certificatesResolvers.le.acme.email={{ traefik_le_email }}
      - --certificatesResolvers.le.acme.httpChallenge.entryPoint={{ traefik_network }}
    ports:
      - 80:{{ traefik_http_port }}
      - 443:{{ traefik_https_port }}
      #- 8090:8080 # API DEBUG
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./dynamic.conf.yml:/etc/traefik/dynamic_conf/conf.yml:ro
      - ../mailcow-dockerized/data/assets/ssl/:/certs/:rw
    labels:
      - sh.acme.autoload.domain=slowb.ro
    restart: unless-stopped

networks:
  {{ traefik_network }}:
    external: true

