version: '3'
services:
  nginx-blog:
    image: nginx
    volumes:
      - {{ nginx_web_directory }}:/usr/share/nginx/html:ro
      - {{ nginx_directory }}/templates:/etc/nginx/templates:ro
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.https-compress.compress=true

      - traefik.http.middlewares.header_blog.headers.sslRedirect=true
      - traefik.http.middlewares.header_blog.headers.sslHost={{ nginx_hostname }}
      - traefik.http.middlewares.header_blog.headers.stsSeconds=3600
      - traefik.http.middlewares.header_blog.headers.stsPreload=true
      - traefik.http.middlewares.header_blog.headers.forceSTSHeader=true
      - traefik.http.middlewares.header_blog.headers.frameDeny=true
      - traefik.http.middlewares.header_blog.headers.contentTypeNosniff=true
      # - traefik.http.middlewares.header_blog.headers.contentSecurityPolicy='Content-Security-Policy: default-src "self" *.{{ nginx_basedomain }}'

      - traefik.http.routers.nginxblog.rule=Host(`{{ nginx_hostname }}`)
      - traefik.http.routers.nginxblog.tls=true
      - traefik.http.routers.nginxblog.entrypoints=secure
      - traefik.http.routers.nginxblog.middlewares=header_blog@docker,https-compress@docker
      - traefik.http.services.nginxblog.loadbalancer.server.port=80

      - traefik.http.routers.nginxblog_http.rule=Host(`{{ nginx_hostname }}`)
      - traefik.http.routers.nginxblog_http.service=nginxblog
      - traefik.http.routers.nginxblog_http.entrypoints=web
      - traefik.http.routers.nginxblog_http.middlewares=header_blog@docker,https-compress@docker
    restart: unless-stopped
    networks:
      web:

networks:
  web:
    external: true

